.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  font-size: 20px;
  &__header {
    font-size: 32px;
  }
  &__presentation {
    .me {
      margin-top: -100px;
    }
    .work {
      margin-top: 50px;
    }
  }
}
