.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  font-size: 20px;
  &__header {
    font-size: 32px;
  }
  &__presentation {
    .work {
      margin-top: 50px;
      @media screen and (max-width: 416px) {
        font-size: 15px;
        margin-top: 0px;
      }
    }
  }
}
