.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  font-size: 20px;
  &__header {
    font-size: 32px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media screen and (max-width: 416px) {
      flex-direction: column;
    }
    a {
      @media screen and (max-width: 416px) {
        margin: 30px 0;
      }
    }
  }
}
